<html>

<body>
  <form action='/addcomplaint' method='post'>
    <input type='number' name='upvotes' placeholder='upvotes' required>
    <input type='number' name='downvotes' placeholder='downvotes' required>
    <input type='text' name='description' placeholder='description' required>
    <input type='text' name='title' placeholder='title' required>
    <button>Submit</button>
  </form>
</body>

</html>