<html>

<body>
  <form action='/newcomplaint' method='post' enctype="multipart/form-data">
    <input type='text' name='description' placeholder='description' required>
    <input type='text' name='title' placeholder='title' required>
    <input type="file" name="picture" accept="application/x-zip-compressed,image/*">
    <input type="">
    <button>Submit</button>
  </form>
</body>

</html>